body {
  background: rgb(119, 181, 231);
  margin: 0;
  padding: 0;
}

.container {
  padding: 40px 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header .location {
  display: inline-flex;
}
.header #map {
  height: 15px;
  width: 10px;
}
.header #notification {
  height: 15px;
  width: 15px;
}
.header .city {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 16.7806px;
  line-height: 21px;
  color: #ffffff;
  text-shadow: -1.39839px 2.09758px 0.699193px rgba(0, 0, 0, 0.1);
  padding-left: 15px;
}

.weather-icon {
  display: flex;
  justify-content: flex-start;
  margin-top: 120px;
  height: 200px;
  width: 220px;
}

.weather-info {
  display: flex;
  justify-content: flex-start;
  margin-top: 60px;
}

.weather-item {
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  border: 1.4px solid;
  border-color: white;
  border-radius: 13.9839px;
}
.weather-item .weather-main {
  display: flexbox;
  align-items: center;
  justify-content: center;
  padding: 20px 65px;
}
.weather-item .date {
  font-family: "Overpass";
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12.5855px;
  line-height: 16px;
  color: #ffffff;
  text-shadow: -1.39839px 2.09758px 0.699193px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.weather-item .temp {
  font-family: "Overpass";
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 69.9193px;
  line-height: 89px;
  color: #ffffff;
  text-shadow: -2.79677px 5.59354px 34.9597px rgba(0, 0, 0, 0.1);
}
.weather-item .weather {
  font-family: "Overpass";
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16.7806px;
  line-height: 21px;
  color: #ffffff;
  text-shadow: -1.39839px 2.09758px 0.699193px rgba(0, 0, 0, 0.1);
  margin-bottom: 18px;
}

.weather-item-plus {
  display: flexbox;
}
.weather-item-plus .wind {
  display: block;
}
.weather-item-plus .wind span {
  padding: 10px;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 12.5855px;
  line-height: 16px;
  color: #ffffff;
  text-shadow: -1.39839px 2.09758px 0.699193px rgba(0, 0, 0, 0.1);
}
.weather-item-plus #wind-icon {
  height: 15px;
  width: 20px;
  align-items: flex-start;
  padding-left: 40px;
}
.weather-item-plus #wind-num {
  display: inline;
  padding-left: 48px;
}
.weather-item-plus .hum {
  display: block;
  padding-bottom: 20px;
}
.weather-item-plus .hum span {
  padding: 10px;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 12.5855px;
  line-height: 16px;
  color: #ffffff;
  text-shadow: -1.39839px 2.09758px 0.699193px rgba(0, 0, 0, 0.1);
}
.weather-item-plus #hum-icon {
  height: 15px;
  width: 20px;
  align-items: flex-start;
  padding-left: 40px;
}
.weather-item-plus #hum-num {
  display: inline;
  padding-left: 50px;
}