html,
body {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(192.05deg, #47bfdf 0%, #4a91ff 100%) no-repeat;
  box-shadow: -3.77069px 7.54137px 30.1655px 2.26241px rgba(19, 35, 78, 0.2);
}

.container {
  padding: 40px 50px;
}

.header {
  display: flex;
}
.header .location {
  display: inline-flex;
}
.header #map {
  height: 15px;
  width: 10px;
}
.header #notification {
  height: 15px;
  width: 15px;
  padding-left: 85px;
}
.header .city {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 16.7806px;
  line-height: 21px;
  color: #ffffff;
  text-shadow: -1.39839px 2.09758px 0.699193px rgba(0, 0, 0, 0.1);
  padding-left: 15px;
}

.weather-icon img {
  height: 200px;
  width: 220px;
}

.weather-item {
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  border: 1.4px solid;
  border-color: white;
  border-radius: 13.9839px;
}
.weather-item .weather-main {
  display: block;
  align-items: center;
  justify-content: center;
  padding: 20px 65px;
}
.weather-item .date {
  font-family: "Overpass";
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12.5855px;
  line-height: 16px;
  color: #ffffff;
  text-shadow: -1.39839px 2.09758px 0.699193px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  margin-left: 25%;
}
.weather-item .temp {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 69.9193px;
  color: white;
  padding-left: 20px;
}
.weather-item .weather {
  font-family: "Overpass";
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16.7806px;
  line-height: 21px;
  color: #ffffff;
  text-shadow: -1.39839px 2.09758px 0.699193px rgba(0, 0, 0, 0.1);
  margin-bottom: 18px;
  margin-left: 25%;
}

.weather-item-plus {
  display: flexbox;
}
.weather-item-plus .wind {
  display: block;
}
.weather-item-plus .wind span {
  padding: 10px;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 12.5855px;
  line-height: 16px;
  color: #ffffff;
  text-shadow: -1.39839px 2.09758px 0.699193px rgba(0, 0, 0, 0.1);
}
.weather-item-plus #wind-icon {
  height: 15px;
  width: 20px;
  align-items: flex-start;
  padding-left: 40px;
}
.weather-item-plus #wind-num {
  display: inline;
  padding-left: 48px;
}
.weather-item-plus .hum {
  display: block;
  padding-bottom: 20px;
}
.weather-item-plus .hum span {
  padding: 10px;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 12.5855px;
  line-height: 16px;
  color: #ffffff;
  text-shadow: -1.39839px 2.09758px 0.699193px rgba(0, 0, 0, 0.1);
}
.weather-item-plus #hum-icon {
  height: 15px;
  width: 20px;
  align-items: flex-start;
  padding-left: 40px;
}
.weather-item-plus #hum-num {
  display: inline;
  padding-left: 50px;
}

.weather-other-day {
  display: flex;
  justify-content: center;
  padding-top: 68px;
}

.hourly-block {
  display: block;
  border-radius: 11.3852px;
  color: white;
  border-radius: 13.9839px;
  padding: 5px;
  margin-left: 15px;
}
.hourly-block span {
  align-items: flex-start;
}

.hourly-temp {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 24;
  line-height: 13px;
  color: #ffffff;
  text-shadow: -1.13852px 1.70778px 0.569258px rgba(0, 0, 0, 0.1);
  margin-left: 40%;
}

.hourly-time {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 24;
  line-height: 13px;
  color: #ffffff;
  text-shadow: -1.13852px 1.70778px 0.569258px rgba(0, 0, 0, 0.1);
  margin-left: 40%;
}

.weather-other-day-container {
  display: block;
  padding-left: 20%;
}

.other-weather-header {
  display: flex;
}
.other-weather-header span {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 600;
  font-size: 13.6622px;
  line-height: 17px;
  color: #ffffff;
  text-shadow: -1.13852px 1.70778px 0.569258px rgba(0, 0, 0, 0.1);
}

.other-weather-header-icon-back #icon-back {
  height: 15px;
  width: 15px;
  padding-right: 7px;
}

.other-weather-header-icon-set #icon-set {
  height: 15px;
  width: 15px;
  padding-left: 33em;
}

.today-date {
  display: flex;
  padding-top: 28px;
}

.today-date-num {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 13px;
  color: #ffffff;
  text-shadow: -1.13852px 1.70778px 0.569258px rgba(0, 0, 0, 0.1);
  padding-left: 32em;
}